<div class="wrapper style1">
	<div class="content">
		<div class="404">
            <h2 class="text-center">404</h2>
            <p class="text-center">Nothing to see here</p>
        </div>
	</div>
</div>